Name: Itha Ram Sai Manoj

Roll No: E21007

In [15]:
#Importing the required libraries

import os
import pandas as pd
import numpy as np

In [16]:
#Importing the apriori algo and association rules functions from the mlxtend library

from mlxtend.frequent_patterns import apriori, association_rules

In [17]:
#Importing the preprocessing module for transaction encoder from the mlxtend library

from mlxtend.preprocessing import TransactionEncoder

In [18]:
#Reading the file from the specified folder

os.chdir('C:\\Users\\Manoj\\IML')
data = pd.read_csv('lastfm.csv')
data

         user                   artist sex  country
0           1    red hot chili peppers   f  Germany
1           1  the black dahlia murder   f  Germany
2           1                goldfrapp   f  Germany
3           1         dropkick murphys   f  Germany
4           1                 le tigre   f  Germany
...       ...                      ...  ..      ...
289950  19718                bob dylan   f   Canada
289951  19718                   pixies   f   Canada
289952  19718                the clash   f   Canada
289953  19718     a tribe called quest   f   Canada
289954  19718                radiohead   f   Canada

[289955 rows x 4 columns]

In [31]:
#Making a copy of the data

temp = data.copy()

In [32]:
#Grouping the data by user and Converting that to a list

#using the tolist() to convert the artists to a list which is stored in the variable a as 'artist'
txns = [a[1]['artist'].tolist() for a in list(temp.groupby(['user']))]

#Initializing the TransactionEncoder() function
txnEnco = TransactionEncoder()

#Using this object to transform this data of 'artists' to a transaction data of binary values
txns_array = txnEnco.fit(txns).transform(txns)

#converting this array of binary values into a dataframe with column names
txns1 = pd.DataFrame(txns_array, columns=txnEnco.columns_)

In [33]:
#to generate frequent itemsets using apriori algorithm
freq_itemsets = apriori(df=txns1,min_support=0.01,use_colnames=True)

#Printing the frequent item sets
freq_itemsets

       support                                         itemsets
0     0.022733                                           (2pac)
1     0.030933                                   (3 doors down)
2     0.032800                             (30 seconds to mars)
3     0.021800                                        (50 cent)
4     0.013667                                 (65daysofstatic)
...        ...                                              ...
1684  0.010600     (radiohead, the beatles, the rolling stones)
1685  0.010667              (the shins, the beatles, radiohead)
1686  0.011467  (radiohead, the beatles, the smashing pumpkins)
1687  0.010467            (the strokes, radiohead, the beatles)
1688  0.012267      (radiohead, the beatles, the white stripes)

[1689 rows x 2 columns]

In [38]:
#Applying association rule and imposing min confidence threshold as 60 percentage

rules = association_rules(freq_itemsets,min_threshold=0.6)

In [39]:
#Displaying sorted rules in ascending order of lift value

rules.sort_values(by='lift')

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
6,"(the beatles, the smashing pumpkins)",(radiohead),0.018467,0.180267,0.011467,0.620939,3.444556,0.008138,2.162535
1,"(bob dylan, pink floyd)",(the beatles),0.016800,0.177867,0.010333,0.615079,3.458092,0.007345,2.135852
4,"(coldplay, the smashing pumpkins)",(radiohead),0.017400,0.180267,0.010933,0.628352,3.485683,0.007797,2.205674
5,"(sigur rós, the beatles)",(radiohead),0.016267,0.180267,0.010467,0.643443,3.569393,0.007534,2.299022
3,"(radiohead, snow patrol)",(coldplay),0.015867,0.158533,0.010067,0.634454,4.002021,0.007551,2.301943
0,(keane),(coldplay),0.034933,0.158533,0.022267,0.637405,4.020634,0.016729,2.320676
2,"(the killers, oasis)",(coldplay),0.016800,0.158533,0.011133,0.662698,4.180183,0.008470,2.494701