Name: Itha Ram Sai Manoj

Roll No: E21007

# KNN Classification

In [2]:
# Importing the required libraries

import numpy as np
import pandas as pd
import os

In [3]:
# For test-train splitting, importing the function from sklearn
from sklearn.model_selection import train_test_split

In [18]:
#Reading the file from the specified folder
os.chdir('C:\\Users\\Manoj\\IML')
iris = pd.read_csv('IRIS.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
#Seperating the target and predictor variables

X = iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]
#y = iris[['species']]
y = iris.species

In [20]:
# Stratify is to divide in homogenous

(X_Train, X_Test, y_Train, y_Test) = train_test_split(X, y, test_size = 0.3, stratify = y, random_state = 100)

In [21]:
#Importing the KNN Classifier function from sklearn library
from sklearn.neighbors import KNeighborsClassifier

#Instantiate Learning model (k=3)
knn = KNeighborsClassifier(n_neighbors=3) #3NN

#Fitting the model
knn.fit(X_Train, y_Train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [22]:
#Predicting the response
pred = knn.predict(X_Test)

In [23]:
#Converting it into a dataframe
pd.DataFrame(pred)

                  0
0       Iris-setosa
1   Iris-versicolor
2    Iris-virginica
3   Iris-versicolor
4    Iris-virginica
5       Iris-setosa
6   Iris-versicolor
7       Iris-setosa
8       Iris-setosa
9       Iris-setosa
10  Iris-versicolor
11  Iris-versicolor
12  Iris-versicolor
13      Iris-setosa
14  Iris-versicolor
15   Iris-virginica
16   Iris-virginica
17   Iris-virginica
18  Iris-versicolor
19  Iris-versicolor
20   Iris-virginica
21  Iris-versicolor
22  Iris-versicolor
23   Iris-virginica
24  Iris-versicolor
25      Iris-setosa
26  Iris-versicolor
27  Iris-versicolor
28      Iris-setosa
29   Iris-virginica
30   Iris-virginica
31   Iris-virginica
32   Iris-virginica
33      Iris-setosa
34  Iris-versicolor
35   Iris-virginica
36      Iris-setosa
37      Iris-setosa
38      Iris-setosa
39  Iris-versicolor
40      Iris-setosa
41      Iris-setosa
42      Iris-setosa
43  Iris-versicolor
44   Iris-virginica

# KNN Regression

In [10]:
#Reading the file from the specified folder

os.chdir('C:\\Users\\Manoj\\IML')
cars = pd.read_csv('cars.csv')
cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

In [11]:
#Seperating the target and predictor variables

X = cars[['Displacement', 'Horsepower', 'Weight', 'Acceleration']]
#y = iris[['species']]
y = cars.MPG

In [12]:
# Stratify is to divide in homogenous

(X_Train, X_Test, y_Train, y_Test) = train_test_split(X, y, test_size = 0.3, random_state = 7)

In [13]:
#Importing the Kneighbours Regressor function from sklearn package
from sklearn.neighbors import KNeighborsRegressor

#Instantiate Learning model (k=3)
knn = KNeighborsRegressor(n_neighbors=3) #3NN

#Fitting the model
knn.fit(X_Train, y_Train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                    weights='uniform')

In [14]:
#Predicting the response
pred = knn.predict(X_Test)

In [16]:
#Converting into a dataframe
pd.DataFrame(pred)

             0
0    10.166667
1    13.666667
2    33.700000
3    31.566667
4    32.566667
..         ...
117  16.666667
118  30.600000
119  21.100000
120  13.833333
121  32.733333

[122 rows x 1 columns]