Name: Itha Ram Sai Manoj

Roll No: E21007

In [1]:
# Importing the required libraries

import numpy as np
import pandas as pd
import os

In [3]:
# importing the Linear Regression function from sklearn library
from sklearn.linear_model import LinearRegression

In [4]:
#Reading the file from the specified folder
os.chdir('C:\\Users\\Manoj\\IML')
cars = pd.read_csv('cars.csv')
cars

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82,2720,19.4,82,US

In [5]:
#Seperating the target and predictor variables

X = cars[['Displacement', 'Horsepower', 'Weight', 'Acceleration']]
#y = iris[['species']]
y = cars.MPG

In [6]:
#Defining the linear regression model
linear_regression = LinearRegression()

In [7]:
#Fitting the multiple linear regression model
linear_regression.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
#Predicting with the data
y_pred = linear_regression.predict(X)

In [10]:
#Displaying the predicted data in the form of dataframe
pd.DataFrame(y_pred)

             0
0    18.225421
1    15.622644
2    17.753707
3    17.932593
4    18.112271
..         ...
401  25.095101
402  30.811201
403  27.661927
404  26.584439
405  26.015368

[406 rows x 1 columns]

In [15]:
#Getting the intercept value
Intercept=linear_regression.intercept_

#Printing the intercept value
Intercept

43.42277568707686

In [16]:
#Getting all the 4 coefficients values
Coefficients=linear_regression.coef_

#Printing the coefficient value
Coefficients

array([-0.00691953, -0.03521378, -0.00550266,  0.06550402])